"*":
  "exception-reporting":
    userId: "b23c0183-a953-7414-872d-83456ad69011"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 15
  react: {}
  "language-babel":
    transpileOnSave: false
  "run-command": {}
  "mocha-test-runner":
    options: "--compilers es6:babel-core/register -t 10000"
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  minimap:
    plugins:
      "highlight-selected": true
  pigments: {}
  "highlight-selected": {}
  "autocomplete-plus": {}
  "git-plus": {}
  jshint:
    validateOnlyOnSave: true
    supportLintingJsx: true
  "markdown-preview": {}
".js.jsx.source":
  editor:
    autoIndent: true
